
.dashboard-container{
    margin: 0;
    
}

.container-items-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-items{
    display: flex;
    justify-content: space-around;
}

.dashboard-headings{
    margin: 20px;
}
.heading{
    color: #0D6EFD;
}

.searchname{
    height: 25px;
    width: 200px;
    margin-top: 20px;
    border-radius: 15px;
    padding-left: 10px;
}

.table-content{
    height: 100vh;
    background-color: lightgray;
    
}
.table-headings{
    display: flex;
    justify-content: space-between;
}
.table-heading{
    margin: 20px;
}
.headings-1{
    display: flex;
    justify-content: center;
}
.headings-2{
    display: flex;
    justify-content: center;
}

.create-button{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border-radius: 25px;
    color: rgb(1, 44, 138);
    font-weight: 500;
    background: #ffffff;
    border: 1px normal rgb(1, 44, 138);
}

.selections{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.filter-logo{
    color:rgb(1, 44, 138);
    font-size: 20px;
    margin-right: 10px;
}

.table-heading-1{
    color: #0D6EFD;
}
.table-heading-2{
    color: green;
}
.table-heading-3{
    color: red;
}

.table-heading-5{
    font-weight: 500;
    color: black;
}
.table-heading-6{
    color: lightblack;
    font-weight: 100;
}
.table-heading-7{
    color: lightblack;
    font-weight: 100;
}

.selections{
    color: rgb(1, 44, 138);
    font-weight: 500;
    border: 1px solid rgb(1, 44, 138);
}